// ---  M I X I N G - G R I D - C O N T E N T ---

@mixin grid-content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--mx-column-gap-21);
    grid-auto-rows: min-content;
    // grid-template-rows: auto minmax(var(--card-height), auto) minmax(var(--card-height), auto);
}

@mixin grid-content-750 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--mx-column-gap-21);
}