// ---  M I X I N G - G R I D - C O N T E N T ---

@mixin grid-content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--mx-column-gap-21);
    // grid-template-rows: auto minmax(var(--card-height), auto) minmax(var(--card-height), auto);
    grid-template-rows: minmax(10px, auto);
}