{% import "../../components/_cards.njk" as card %}

<section class="section__cards">
    {{card.cardView("card__content", "card__link", "card__title", "card__subtitle", "card__text")}}
    {{card.cardView("card__content", "card__link", "card__title", "card__subtitle", "card__text")}}
    {{card.cardView("card__content", "card__link", "card__title", "card__subtitle", "card__text")}}
    {{card.cardView("card__content", "card__link", "card__title", "card__subtitle", "card__text")}}
</section>