<aside class="aside-menu">
    <ul class="menu-list">
        <li class="menu-list__item">
            <a href="#" class="menu-list__link">
                esto es un link esto es un link
            </a>
        </li>
        <li class="menu-list__item">
            <a href="#" class="menu-list__link">
                esto es un link esto es un link
            </a>
        </li>
        <li class="menu-list__item">
            <a href="#" class="menu-list__link">
                esto es un link esto es un link
            </a>
        </li>
        <li class="menu-list__item">
            <a href="#" class="menu-list__link">
                esto es un link esto es un link
            </a>
        </li>
        <li class="menu-list__item">
            <a href="#" class="menu-list__link">
                esto es un link esto es un link
            </a>
        </li>
        <li class="menu-list__item">
            <a href="#" class="menu-list__link">
                esto es un link esto es un link
            </a>
        </li>
        <li class="menu-list__item">
            <a href="#" class="menu-list__link">
                esto es un link esto es un link
            </a>
        </li>
    </ul>
</aside>