{% import "../macros/_icon-link.njk" as icon %}

<header class="header">
    {{ icon.acLogoLink("#", "header__logo", "#ac-logo")}}
    <div class="header__items">
        <select class="js-header__select form-select header__select">
            <option value="1" selected>esp</option>
            <option value="2">por</option> 
            <option value="3">eng</option>    
        </select>
        {{ btnLink.simpleButtonLink("", "#", "registrate")}}
    </div>   
</header>