<!DOCTYPE html>
<html lang="es">
    <head>
        {# Bloque metatags #}
        {% block meta %}
            {% include "layout/_metatags.njk" %}
        {% endblock %}
        <title>Asistencia al Viajero - Más que un seguro de viaje ASSIST CARD.</title>
        <link rel="stylesheet" type="text/css" media="screen" href="content/css/vendors/bootstrap-5.0.2/bootstrap.css">
        {% block css %}
            {# Bloque de estilos por página #}
        {% endblock %}
    </head>
    <body>
        {# -- H E A D E R -- #}
        {% block header %}
            {% include "layout/_header.njk" %}
        {% endblock %}

        {# content #}
        <main class="main">
            {# -- A S I D E - M E N U -- #}  
            {% block asideMenu %}
                {% include "layout/_aside-menu.njk" %}
            {% endblock %}

            {# -- C O N T E N T -- #}
            {% block content %}
                {# main content block #}
            {% endblock %}

            {# -- F O O T E R -- #}
            {% block footer%}
                {% include "layout/_footer-n.njk" %}
            {% endblock %}
        </main>

        {# <footer class="footer"></footer> #}

        {% block content2 %}
            {# Modales, toast, loaders #}
        {% endblock %}

        <script src="content/js/vendors/bootstrap-5.0.2/bootstrap.bundle.js"></script>
        {% block js %}
            {# Bloque de js por página #}
        {% endblock %}
        {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> #}
    </body>
</html>