// --- R E S E T 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid black;

    &:focus {
        // border-radius: var(--bradius-8);        
        // border: none  !important;
        // outline: none !important;
        // z-index: 1000;
    }

    &::-webkit-scrollbar {
        width: var(--wmn-scrollbar);
    }

    &::-webkit-scrollbar-track {
        border-radius: var(--bradius-8);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--grey);
        border-radius: var(--bradius-8);

        &:hover {
            background: var(--black);
        }
    } 
    
    &::before, &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

// Elimina los bordes de los inputs
input {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--black-grey);
}

// Remueve las flechas en los inputs - number
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

// deja transparente el campo de autocompletado
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 9000s;
    -webkit-text-fill-color: var(--grey) !important;
}
    @media (min-width: 750px) {

    *::-webkit-scrollbar {
            width: var(--wmx-scrollbar);
    }
}
