@use "n-mixin" as *;

:root {
    font-size: 14px;
}

.section {
    grid-area: content;
    @include grid-content-750;
    padding: 0 15px;

    .view{
        grid-column: 1 / 5;
        // border: 1px solid black;
    }

    .assistance__name {
        margin: 0 0 var(--margin-bottom-80) 0;
        font-size: var(--fs-12);
        font-weight: var(--fw-600);
        text-transform: uppercase;
    }

    .assistance__event {
        display: flex;
        flex-direction: column;
        align-items: center;

        .assistance__icon {
            height: var(--w-icon);
            margin: 0 0 var(--margin-bottom-38) 0;
            fill: var(--red-icon);
        }

        .assistance__title{
            margin: 0 0 var(--margin-bottom-48) 0;
            padding: 0 15%;
            font-size: var(--fs-40);
            line-height: var(--line-height-48);
            color: var(--black-grey);
            text-align: center;
        }

        .assistance__subtitle {
            margin: 0 0 var(--margin-bottom-64) 0;
            padding: 0 20%; //var(--padding-190);
            color: var(--light-grey);
            text-align: center;
            
        }

        .btn {
            @include mg-b-64;
        }
    }
}

@media (min-width: 900px) {

    :root {
        font-size: 16px;
    }

    .section {
        grid-area: content;
        @include grid-content;
        padding: 0;
    
        .view {
            grid-column: 1 / 8;
        }

        .assistance__event {

            .assistance__title {
                padding: 0 20%;
            }

            .assistance__subtitle {
                padding: 0 23%;
            }
        }
    }
}