@use "n-mixin" as *;

.main {
    grid-area: main;
    @include id;
    // grid-template-columns: repeat(8, 1fr);
    // grid-gap: 0 21px;
}

.button-prueba {
    @include btn-main;
}

.form {
    width: 65%;
    display: grid;
    place-items: center;
}

.form-content {
    justify-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 10px 25px;
    margin: 0 0 var(--margin-bottom-28) 0;
}

.form-float {
    display: flex;
    align-items: center;
    position: relative;
    height: 63px;
    color: var(--black-grey);

    input {
        display: block;
        width: 100%;
        padding: 0 8px 4px 8px;
        font-size: var(--fs-14);
        border-bottom: 1px solid var(--very-light-grey);
        background: transparent;
        color: inherit;

        &::placeholder { 
            color: transparent;
        }
    
        &:focus {
            border-bottom: 1px solid var(--black);
        }
    }
    
    label {
        display: flex;
        position: absolute;
        top: 18px;
        left: 8px;
        padding: 0;
        font-size: var(--fs-14);
        font-weight: normal;
        text-transform: capitalize;
        color: inherit;
        transition: all 0.2s;
        // touch-action: manipulation;
        
    }

    // Ajusta la fuente y ubica el label arriba del <input>
    input:focus + label,
    input:not(:placeholder-shown) + label {
        opacity: 0.6;
        font-size: var(--fs-12);
        transform: translate(0px, -22px); 
    }
}

// Deja el espacio (padding) para agregar el asterico a la derecha del <input>
// No funciona en todos los campos. Investigar
input[required] {
    padding: 0 25px 4px 8px; // top right bottom left

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        background: url("../img/icons/asterisco.svg") no-repeat center;
        width: 8px;
        height: 8px;
        bottom: 29px;
        right: 8px;
    }
}

// Prueba de <input> con :invalid
// input:invalid {
//         border-bottom: 1px solid red;
//         background: red;
//     }




