/* --- A S I D E - M E N U --- */
@use "n-mixin" as *;

.aside-menu {
    position: fixed;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--w-aside-menu);
    height: var(--height-100);
    padding: var(--main-padding) 10px 10px 10px;
    background: var(--blue);
    overflow-y: auto;

    .menu-list {
        padding: 0;
        list-style: none;

        .menu-list__item {
            @include mg-b-16;
            font-size: var(--fs-14);
            color: var(--black);

            .menu-list__link {
                padding: 3px;
                text-decoration: none;
                color: inherit;

                &:hover {
                    background: var(--green);
                    border-radius: 8px;
                }
            }
        }
    }

    .aside-menu__button {
        width: var(--width-100);
        height: var(--button-height);
        color: var(--green);
        border:1px solid var(--green);
        text-transform: uppercase;
    }
}