@use "n-mixin" as *;

.aside-menu {
    grid-area: aside;
    padding: var(--main-padding) 10px 10px 10px;
    background: var(--blue);

    .menu-list {
        padding: 0;
        list-style: none;

        .menu-list__item {
            @include mg-b-16;
            font-size: var(--fs-14);
            color: var(--black);

            .menu-list__link {
                padding: 3px;
                text-decoration: none;
                color: inherit;

                &:hover {
                    background: var(--green);
                    border-radius: 8px;
                }
            }
        }
    }
}