/* --- H E A D E R --- */
@use "n-mixin" as *;

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-width;
    padding: 0 5px 0 5px;
    height: var(--min-height-paragraph);
    background: var(--red);
    z-index: 100;

    .header__logo {
        fill: var(--white);
        width: var(--w-header-logo);
        height: var(--h-header-logo);

        &:hover {
            font-weight: var(--fw-600);
        }
    }
}

@media (min-width: 900px) {

    .header {
        height: var(--header-height);
        padding: 0 50px 0 15px;
    }
}