<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Asistencia al viajero ASSIST CARD Argentina. Viajá tranquilo a Europa, USA, Caribe, Sudamérica y todo el mundo. Contratá ahora en la web.">
    <meta name="HandheldFriendly" content="true">
    <meta content="es-WW" http-equiv="content-language">
    <meta property="og:title" content="Asistencia al Viajero - M&#225;s que un seguro de viaje ASSIST CARD. " />
    <meta property="og:description" content="Asistencia al viajero ASSIST CARD Argentina. Viaj&#225; tranquilo a Europa, USA, Caribe, Sudam&#233;rica y todo el mundo. Contrat&#225; ahora en la web." />
    <meta property="og:url" content="https://www.assistcard.com/ar" />
    <meta name="robots" content="index,follow">
    <title>Asistencia al Viajero - Más que un seguro de viaje ASSIST CARD.</title>
    <link rel="stylesheet" type="text/css" media="screen" href="content/css/vendors/bootstrap-5.0.2/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="content/css/index.css">
</head>

<body>
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; height: 794px; width: 537px;">
        <tbody>
            <tr>
                <td align="center" bgcolor="#f3f3f3" valign="middle" style="background-color: rgb(243, 243, 243); padding-top: 24px; padding-bottom: 24px; vertical-align: middle;">
                    <table class="sm-w-full" width="600" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
                        <tbody>
                            <tr>
                                <td align="center" class="sm-px-24" style="padding-left: 24px !important; padding-right: 24px !important;">
                                    <table class="sm-w-full" width="600" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
                                        <tbody>
                                            <tr>
                                                <td class="sm-px-24" bgcolor="#ffffff" style="padding: 52px; background-color: rgb(255, 255, 255);">
                                                    <p style="line-height: 1.5;">
                                                        <font color="#484848"><b>REQUEST FORMAT FOR RECIPES</b></font><span style="color: rgb(72, 72, 72); font-size: 16px;">&nbsp;</span>
                                                    </p>
                                                    <p style="line-height: 1.5;">
                                                        <font color="#484848"><b>PRESCRIPTION REQUEST (LANGUAGE) ENGLISH</b></font><span style="color: rgb(72, 72, 72); font-size: 16px;">&nbsp;</span>
                                                    </p>
                                                    <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">NAME AND SURNAME: $[PacientName]$</p>
                                                    <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">PASSPORT N°: $[DocumentTypeCode]$ $[DocumentNumber]$</p>
                                                    <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">DATE OF BIRTH:&nbsp; $[Birthdate]$</p>
                                                    <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">COUNTRY WHERE THE PATIENT IS: $[TurnInfo.LocationCountry]$</p>
                                                    <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">PHONE: $[CellPhone]$‌</p>
                                                    <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">EMAIL: $[PacientEmail]$</p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">IN WAITING LINE SINCE:&nbsp;&nbsp;</font>$[InWaitingLineSince]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">MEDIC:&nbsp;&nbsp;</font>$[MedicName]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">MEDIC MATRICULATE:&nbsp;</font>$[MedicMatriculate]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">BUSINESS:&nbsp;</font>$[TurnInfo.BusinessCode]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">BUSINESS PLAN:&nbsp;</font>$[TurnInfo.BusinessPlanName]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">LANGUAGE:&nbsp;</font>$[CurrentUICulture]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">MEDICAL SPECIALITY:&nbsp;</font>$[TurnInfo.SpelialityName]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">URGENCY:&nbsp;</font>$[Urgency]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">REASON FOR CONSULTATION:&nbsp;</font>$[Reason]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">CURRENT ILLNESS:&nbsp;</font>$[CurrentDisease]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">PRESUMPTIVE DIAGNOSIS:&nbsp;</font>$[Symptom]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">INDICATIONS:&nbsp;</font>$[Indications]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">ALLERGIES:&nbsp;</font>$[Allergies]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">CHRONIC MEDICATIONS:&nbsp;</font>$[ChronicMedication]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">CHRONIC PATHOLOGIES:&nbsp;</font>$[ChronicPathologies]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">ALARM SIGNS:&nbsp;</font>$[WarningSigns]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">NEED PRESENCIAL ATTENTION:&nbsp;</font>$[NeedAttention]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">UNDER RECIPE:&nbsp;</font>$[UnderReceipt]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">MEDICATIONS:&nbsp;</font>$[Medication]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">STUDIES:&nbsp;</font>$[MedicalStudies]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                        <font color="#484848">NOTES:&nbsp;</font>$[MedicalNotes]$
                                                    </p>
                                                    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;"><span style="color: rgb(72, 72, 72); font-size: 16px;">CASEID: $[CaseID]$</span></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>