<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Asistencia al viajero ASSIST CARD Argentina. Viajá tranquilo a Europa, USA, Caribe, Sudamérica y todo el mundo. Contratá ahora en la web.">
    <meta name="HandheldFriendly" content="true">
    <meta content="es-WW" http-equiv="content-language">
    <meta property="og:title" content="Asistencia al Viajero - M&#225;s que un seguro de viaje ASSIST CARD. " />
    <meta property="og:description" content="Asistencia al viajero ASSIST CARD Argentina. Viaj&#225; tranquilo a Europa, USA, Caribe, Sudam&#233;rica y todo el mundo. Contrat&#225; ahora en la web." />
    <meta property="og:url" content="https://www.assistcard.com/ar" />
    <meta name="robots" content="index,follow">
    <title>Asistencia al Viajero - Más que un seguro de viaje ASSIST CARD.</title>
    <link rel="stylesheet" type="text/css" media="screen" href="content/css/vendors/bootstrap-5.0.2/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="content/css/index.css">
</head>

<body>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5;">
        <font color="#484848"><b>Patient's data</b>&nbsp;</font>
    </p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">NAME: $[PacientName]$</p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">AGE:&nbsp; $[PatientAge]$</p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">COUNTRY WHERE THE PATIENT IS: $[TurnInfo.LocationCountry]$</p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">TELEPHONE: $[CellPhone]$</p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">EMAIL: $[PacientEmail]$‌</p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
        <font color="#484848">REASON FOR CONSULTATION:&nbsp;</font>$[Reason]$
    </p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
        <font color="#484848">CURRENT ILLNESS:&nbsp;</font>$[CurrentDisease]$
    </p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
        <font color="#484848">PRESUMPTIVE DIAGNOSIS:&nbsp;</font>$[Symptom]$
    </p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
        <font color="#484848">INDICATIONS:&nbsp;</font>$[Indications]$
    </p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">NOTES: $[MedicalNotes]$</p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;"><span style="color: rgb(72, 72, 72); font-size: 16px; background-color: rgb(255, 255, 255);">CASEID: $[CaseID]$</span></p>
    <p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;"><br></p>
    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
        <font face="Roboto, -apple-system, Segoe UI, sans-serif">Please remember:&nbsp;</font>
    </p>
    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
        <font face="Roboto, -apple-system, Segoe UI, sans-serif">1) send mail to the patient with the data to withdraw the medicines&nbsp;</font>
    </p>
    <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
        <font face="Roboto, -apple-system, Segoe UI, sans-serif">2) send mail to assistances@assistcard.com indicating in the subject: "PRESCRIPTION&nbsp;</font>
        <font face="Roboto, -apple-system, Segoe UI, sans-serif">MANAGED – PATIENT IDENTIFICATION</font><span style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif;">"&nbsp;</span>
    </p>
</body>