{# extending #}
{% extends "layout/_home-layout-no-menu.njk" %}
<!-- Main CSS file por ahora lo ponemos aca pero tenemos que hacer un condicional en el layout creo, 
veamos, porque desarrollo también tiene que cargar los estilos de cada página fuera del layout-->

{# import macros #}
{% import "macros/_button.njk" as btn %}
{% import "macros/_button-anchor.njk" as btnLink %}

{# Bloque de estilos especificos de éstá página #}
{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="content/css/view6.css">
{% endblock %}

{% block content %}
    <section class="section">
        <article class="view">
            <h6 class="assistance__name">asistencia médica</h6>
            <h4 class="assistance__question">¿Dónde te encuentras?</h4>
            <form action="/view9.html" method="get" class="assistance__form needs-validation" novalidate>
                <section class="assistance__event">
                    <label>
                        <input type="radio" name="travelGroup"/>
                        Passenger #1
                    </label>
                    <label>
                        <input type="radio" name="travelGroup"/>
                        Passenger #2
                    </label>
                    <label>
                        <input type="radio" name="travelGroup"/>
                        Passenger #3
                    </label>
                    <label>
                        <input type="radio" name="travelGroup"/>
                        Passenger #4
                    </label>
                    <label>
                        <input type="radio" name="travelGroup"/>
                        Passenger #5
                    </label>
                    <label>
                        <input type="radio" name="travelGroup"/>
                        Passenger #6
                    </label>
                </section>
                <button type="submit" class="btn btn-outline-primary">continuar</button>
            </form>
        </article>
    </section>
{% endblock %}

{% block content2 %}
{% endblock %}

{% block js %}
    {# Bloque de estilos especificos de éstá página #}
    <script>
        $('.js-select').select2(
                {
                    //width: 100%,
                    minimumResultsForSearch: Infinity
                }
            );
    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
    </script>
{% endblock %}