<table width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; height: 818px; width: 537px;">
    <tbody>
        <tr>
            <td align="center" bgcolor="#f3f3f3" valign="middle" style="background-color: rgb(243, 243, 243); padding-top: 24px; padding-bottom: 24px; vertical-align: middle;">
                <table class="sm-w-full" width="600" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
                    <tbody>
                        <tr>
                            <td align="center" class="sm-px-24" style="padding-left: 24px !important; padding-right: 24px !important;">
                                <table class="sm-w-full" width="600" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
                                    <tbody>
                                        <tr>
                                            <td align="right" class="sm-px-24" style="padding-left: 24px !important; padding-right: 24px !important;"><img src="https://ecommerceapi.assistcard.com/Api/ImagesHandler/GetImage?freeImageCode=logo-claim-line-es" height="45" alt="ASSIST CARD" style="border: 0; line-height: 100%; vertical-align: middle;"></td>
                                        </tr>
                                        <tr>
                                            <td class="sm-px-24" bgcolor="#ffffff" style="padding: 52px; background-color: rgb(255, 255, 255);">
                                                <p style="font-size: 16px; line-height: 1.5; color: rgb(72, 72, 72);"><b>FORMATO PARA PETICION DE RECETAS</b>&nbsp;</p>
                                                <p style="font-size: 16px; line-height: 1.5; color: rgb(72, 72, 72);"><b>SOLICITUD PRESCRIPCION (IDIOMA)</b>&nbsp;ESPAÑOL&nbsp;</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">NOMBRE Y APELLIDOS: $[PacientName]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">N° PASAPORTE: $[DocumentTypeCode]$ $[DocumentNumber]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">FECHA DE NACIMIENTO:&nbsp; $[Birthdate]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">PAIS DONDE ESTA EL PACIENTE: $[TurnInfo.LocationCountry]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">TELEFONO: $[CellPhone]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">EMAIL: $[PacientEmail]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">TIEMPO EN ESPERA: $[InWaitingLineSince]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">MEDICO QUE ATENDIO: $[MedicName]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">MATRICULA: $[MedicMatriculate]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">NEGOCIO: $[TurnInfo.BusinessCode]$</p>
                                                <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                    <font color="#484848">PLAN: $[TurnInfo.BusinessPlanName]$</font>
                                                </p>
                                                <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;"><span style="color: rgb(72, 72, 72); font-size: 16px;">LENGUAJE: $[CurrentUICulture]$</span></p>
                                                <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
                                                    <font color="#484848">ESPECIALIDAD: $[TurnInfo.SpelialityName]$</font>
                                                </p>
                                                <p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;"><span style="font-size: 16px; color: rgb(72, 72, 72);">URGENCIA: $[Urgency]$</span></p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">MOTIVO DE LA CONSULTA: $[Reason]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">ENFERMEDAD ACTUAL: $[CurrentDisease]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">DIAGNOSTICO PRESUNTIVO: $[Symptom]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">INDICACIONES: $[Indications]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">ALERGIAS: $[Allergies]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">MEDICACION CRONICA: $[ChronicMedication]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">PATOLOGIAS CRONICAS: $[ChronicPathologies]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">SIGNOS DE ALARMA: $[WarningSigns]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">REQUIERE ATENCION PRESENCIAL: $[NeedAttention]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">BAJO RECETA: $[UnderReceipt]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">MEDICACION: $[Medication]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">ESTUDIOS: $[MedicalStudies]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">NOTAS: $[MedicalNotes]$</p>
                                                <p style="font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">CASO: $[CaseID]$</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>