{# extending #}
{% extends "layout/_layout-general.njk" %}
<!-- Main CSS file por ahora lo ponemos aca pero tenemos que hacer un condicional en el layout creo, 
veamos, porque desarrollo también tiene que cargar los estilos de cada página fuera del layout-->

{# import macros #}
{% import "macros/_button.njk" as btn %}
{% import "macros/_button-anchor.njk" as btnLink %}

{# Bloque de estilos especificos de éstá página #}
{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="content/css/view9.css">
{% endblock %}

{% block content %}
    <main class="main">
        <form action="/view.html" method="GET" class="form">
            <section class="form-content">
                <div class="form-float">
                    <input id="nombre" class="input" type="text" placeholder="nombre" required>
                    <label for="nombre" class="label">
                        nombre
                    </label>
                    <span class="asterisk"></span>
                </div>
                <div class="form-float">
                    <input id="apellido" class="input" type="text" placeholder="apellido" required>
                    <label for="apellido" class="label">
                        apellido
                    </label>
                    <span class="asterisk"></span>
                </div>
                <div class="form-float">
                    <input id="fecha" class="input" type="date" required>
                    <label for="fecha" class="label">
                        fecha
                    </label>
                    <span class="asterisk"></span>
                </div>
                <div class="form-float">
                    <input id="password" class="input" type="password" placeholder="password" required>
                    <label for="password" class="label">
                        password
                    </label>
                    <span class="asterisk"></span>
                </div>
                <div class="form-float">
                    <input id="email" class="input" type="email" placeholder="mariano@gmail.com">
                    <label for="email" class="label">
                        email
                    </label>
                    <span class="asterisk"></span>
                </div>
                <div class="form-float">
                    <textarea id="textarea" class="textarea" maxlength='1000' placeholder="mariano" required></textarea>
                    <label for="textarea" class="label">
                        Describa lo sucedido
                    </label>
                    <span class="asterisk"></span>
                </div>
            </section>
            <button type="submit" class="button-prueba">guardar</button>
        </form>
    </main>
{% endblock %}

{% block content2 %}
{% endblock %}

{% block js %}
    {# Bloque de estilos especificos de éstá página #}
    {# <script>
        
    </script> #}
{% endblock %}