<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5;">
    <font color="#484848"><b>Patient's data</b>&nbsp;</font>
</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);"><b>NAME:</b> $[PacientName]$</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">AGE:&nbsp; $[PatientAge]$</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">COUNTRY WHERE THE PATIENT IS: $[TurnInfo.LocationCountry]$</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">TELEPHONE: $[CellPhone]$</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 0px; color: rgb(72, 72, 72);">EMAIL: $[PacientEmail]$‌</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
    <font color="#484848">REASON FOR CONSULTATION:&nbsp;</font>$[Reason]$
</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
    <font color="#484848">CURRENT ILLNESS:&nbsp;</font>$[CurrentDisease]$
</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
    <font color="#484848">PRESUMPTIVE DIAGNOSIS:&nbsp;</font>$[Symptom]$
</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
    <font color="#484848">INDICATIONS:&nbsp;</font>$[Indications]$
</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">NOTES: $[MedicalNotes]$</p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;"><span style="color: rgb(72, 72, 72); font-size: 16px; background-color: rgb(255, 255, 255);">CASEID: $[CaseID]$</span></p>
<p style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif; line-height: 1.5; margin-top: 0px; margin-bottom: 0px;"><br></p>
<p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
    <font face="Roboto, -apple-system, Segoe UI, sans-serif">Please remember:&nbsp;</font>
</p>
<p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
    <font face="Roboto, -apple-system, Segoe UI, sans-serif">1) send mail to the patient with the data to withdraw the medicines&nbsp;</font>
</p>
<p style="line-height: 1.5; margin-top: 0px; margin-bottom: 0px;">
    <font face="Roboto, -apple-system, Segoe UI, sans-serif">2) send mail to assistances@assistcard.com indicating in the subject: "PRESCRIPTION&nbsp;</font>
    <font face="Roboto, -apple-system, Segoe UI, sans-serif">MANAGED – PATIENT IDENTIFICATION</font><span style="font-family: Roboto, -apple-system, &quot;Segoe UI&quot;, sans-serif;">"&nbsp;</span>
</p>