/* --- M A I N - C O N T E N T --- */
@use "n-mixin" as *;

.main {
    @include max-width;
    min-height: var(--min-height);
    grid-template-columns: 1fr;
    grid-template-rows: minmax(var(--min-height), auto);
    grid-template-areas: "content";
}

@media (min-width: 750px) {

    .main {
    display: grid;
    grid-template-columns: var(--w-aside-menu) 1fr;
    //grid-template-rows: minmax(var(--min-height), auto); //var(--footer-height);
    column-gap: var(--mx-column-gap-21);
    @include max-width;
    grid-template-areas: "menu content";
                      //   "menu  footer";
    }
}
