/* --- M A I N - C O N T E N T --- */
@use "n-mixin" as *;

.main {
    @include max-width;
    // min-height: var(--min-height);
    display: grid;
    grid-template-columns: var(--w-aside-menu) 1fr;
    grid-template-rows: minmax(calc(var(--min-height) - var(--min-height-paragraph)), 1fr);
    grid-template-areas: "menu content";
    padding: calc(var(--header-height) + 20px) 0 0 0;
}

// @media (min-width: 900px) {

//     .main {
//         display: grid;
//         grid-template-columns: var(--w-aside-menu) 1fr;
//         // grid-template-rows: minmax(calc(var(--min-height) - var(--header-height)), 1fr); //var(--footer-height);
//         // column-gap: var(--mx-column-gap-21);
//         padding: var(--header-height) 0 0 0;
//         grid-template-areas: "menu content";
//                           // "menu  footer";
//         }
// }
