/* --- M A I N - C O N T E N T --- */
@use "n-mixin" as *;

.main {
    @include max-width;
    min-height: var(--min-height);
    grid-template-columns: 1fr;
    // grid-template-rows: minmax(calc(var(--min-height) - var(--main-padding)), auto);
    grid-template-areas: "content";
    padding: var(--main-padding) 0 0 0;
}

@media (min-width: 900px) {

    .main {
    display: grid;
    grid-template-columns: var(--w-aside-menu) 1fr;
    //grid-template-rows: minmax(var(--min-height), auto); //var(--footer-height);
    column-gap: var(--mx-column-gap-21);
    @include max-width;
    grid-template-areas: "menu content";
                      //   "menu  footer";
    @include max-width;
    }
}
