@use "variables" as *;
@use "mixin" as *;

.aside-menu {
    grid-area: aside;
    padding: $main-padding 5px 10px 15px;
    background: $blue;

    .menu-list {
        padding: 0;
        list-style: none;

        .menu-list__item {
            @include mg-b-16;
            font-size: $fs-14;
            color: $black;

            .menu-list__link {
                padding: 3px;
                text-decoration: none;
                color: inherit;

                &:hover {
                    background: $green;
                    border-radius: 8px;
                }
            }
        }
    }
}