@use "variables" as *;
@use "mixin" as *;

.main {
    display: grid;
    grid-template-columns: $wmin-aside-menu 1fr;
    column-gap: $mn-column-gap;
    grid-template-areas: "aside content";
    @include max-width;
    min-height: $min-height;
}

@media (min-width: 750px) {

    .main {
        grid-template-columns: $w-aside-menu auto $w-section;
        column-gap: $mx-column-gap;
        grid-template-areas: "aside content section";
    }
}