@use "variables" as *;
@use "mixin" as *;

.main {
    @include max-width;
    min-height: $min-height;
    grid-template-columns: $wmin-aside-menu auto;
    display: grid;
    column-gap: $mn-column-gap;
    grid-template-areas: "aside content"
}

@media (min-width: 750px) {

    .main {
        grid-template-columns: $w-aside-menu auto;
        column-gap: $mx-column-gap;
    }
}