@use "variables" as *;

@mixin max-width ($max-main-width: $max-main-width) {
    width: $width-100;
    max-width: $max-main-width;
}

@mixin max-width-cards {
    width: $width-100;
    max-width: $w-mx-section-cards;
}