// --- C O L O R S ---
:root {
    --red:              #d82028;
    --red-icon:         #ff3d2b;
    --yellow:           #ffff00;
    --green:            #00ff00;
    --blue:             #0000fa; 
    --other-blue:       #0f1fe4;
    --light-blue:       #ecf6ff;
    --black:            #000000;
    --black-grey:       #323232;
    --grey:             #474747;
    --light-grey:       #494949;
    --grey:             #565656;
    --very-light-grey:  #efefef;
    --white:            #ffffff;
    
    // opacity
    --black-50:         #0000007f;
    --border-btm-input: #1a182433;
}