// --- C O L O R S ---
:root {
    --red:          #d82028;
    --red-icon:     #ff3d2b;
    --blue:         #0000fa; 
    --other-blue:   #0f1fe4;
    --yellow:       #ffff00;
    --black:        #000000;
    --black-grey:   #323232;
    --light-grey:   #494949;
    --grey:         #565656;
    --green:        #00ff00;
    --white:        #fffff4;
    
    // opacity
    --black-50:     #000000 50%;
}