// --- M A R G I N ---
:root {
    --margin-bottom-16: 16px;
    --margin-bottom-28: 28px;
    --margin-bottom-38: 38px;
    --margin-bottom-48: 48px;
    --margin-bottom-64: 64px;
    --margin-bottom-96: 96px;
    --margin-bottom-80: 80px;
}