// --- P A D D I N G ---
:root {
    --main-padding:      90px;
    --padding-cards:     12px;
    --padding-cards-top: 40px;
    --padding-card-x:    16px;
    --padding-160:      160px;
    --padding-190:      190px;
}