// --- W I D T H ---
:root {
    --width-100: 100%;
    --max-main-width: 1228px;
    // --- aside-menu-width ---
    --w-aside-menu: 229px; 
    --wmin-aside-menu: 140px;
    // --- aside-section-width --- 
    --w-section: 200px;
    // --- section-card-width ----
    --w-mx-section-cards: 650px;

    --wmx-scrollbar: 10px;
    --wmn-scrollbar: 5px;
    --w-arrow: 24px;

    --w-icon: 44px;

    --w-title-assistance: 604px;
}
