@use "variables" as *;
@use "mixin" as *;

.section__cards {

    display: grid;
    grid-template-columns: auto;
    row-gap: $mx-column-gap;
    @include max-width($max-main-width: $width-100);
    @include border-radius-8;

    .card__content {
        position: relative;
        width: $width-100;
        padding: $padding-cards;
        @include border-radius-8;
        border: 1px solid $black;

        .card__link {
            position: absolute;
            top: 0;
            left: 0;
            width: $width-100;
            height: $height-100;
            @include border-radius-8;
        }
    }
}

@media (min-width: 800px) {

    .section__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $mx-column-gap;
        row-gap: $mx-column-gap;
        grid-template-areas: "1 2"
                             "3 4";
        @include max-width($max-main-width: $w-mx-section-cards);
        border-radius: $bradius-8;
    }
}