{% macro cardView (card__content, card__link, card__title, card__subtitle, card__text) %}
    <article class="{{ card__content }}">
        <a href="#" class="{{ card__link }}"></a>
        <h6 class="{{ card__title }}">Hola</h6>
        <p class="{{ card__subtitle }}">parráfo</p>
        <p class="{{ card__text }}">segundo párrafo</p>
    </article>
{% endmacro %}